/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/external.woff2") format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
}


ul.pagination li span{
    display: inline-block;
    font-size: 1.2rem;
    padding: 0 10px;
    line-height: 30px;
    color:black;
}

ul.pagination li:active span{

    color: white;
}

nav ul a,
nav .brand-logo {
  color: #fff;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.portfolio{
	width:250px;
	height:200px;

	
	}
	
.details {
	width:555px;
	height:1150px;
	padding:10px;
	position:relative;
	margin-left:-50px;

	
	}
	
.details2 {
	width:400px;
	height:600px;
	padding:10px;
	margin-left:200px;

	
	}
	
	.portfoliodetail{
	width:900;
	height:400px
	}

    .parallax img{
      opacity: 4.5;

    }

    .container2 {
      background-color::lightgray;
      width:1263px;
    }

.container3 {
  width:1263px;
    padding:35px;
}

    .container4{
      width: 98%;
      position: relative;
      left: 4%;
      padding: 11px;
    }



.card .card-image1 img {
  display: block;
  border-radius: 2px 2px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  width: 300px;
  height: 225px;

}

.headerDivider {
  border-left:1px solid lightgray;
  border-right:1px solid lightgray;
  height:350px;
  position:absolute;
  right:48%;
  top:15%;

}

.choice {
  height:350px;
  position:absolute;
  right:8%;
  top:15%;

}


#map {
    width: 100%;
    height: 400px;
    background-color: grey;
}
